/* screen - desktop-2 */

.desktop-2 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 3945px;
    overflow: hidden;
    width: 1440px;
  }
  
  .desktop-2 .component-3 {
    align-items: center;
    background-color: var(--white);
    height: 66px;
    left: 0;
    padding: 0 41px;
    position: fixed;
    top: 0;
    z-index: 3;
  }
  
  .desktop-2 .rectangle-58 {
    align-self: flex-end;
    cursor: pointer;
    height: 64px;
    object-fit: cover;
    width: 89px;
  }
  
  .desktop-2 .acceuil {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 7.62px;
    margin-left: 650px;
    min-height: 21px;
    white-space: nowrap;
    width: 77px;
  }
  
  .desktop-2 .destinations {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9.02px;
    margin-left: 35px;
    min-height: 21px;
    white-space: nowrap;
    width: 131px;
  }
  
  .desktop-2 .place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9.02px;
    margin-left: 31px;
    min-height: 21px;
    white-space: nowrap;
    width: 45px;
  }
  
  .desktop-2 .icon-user-circle {
    cursor: pointer;
    height: 28px;
    margin-left: 48px;
    width: 38px;
  }
  
  .desktop-2 .fr {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9.02px;
    margin-left: 89px;
    min-height: 21px;
    white-space: nowrap;
    width: 24px;
  }
  
  .desktop-2 .icon-search {
    cursor: pointer;
    height: 28px;
    margin-left: 27px;
    width: 40px;
  }
  
  .desktop-2 .flex-row {
    align-items: flex-start;
    align-self: center;
    display: flex;
    gap: 53px;
    height: 672px;
    margin-left: 34.0px;
    margin-top: 250px;
    min-width: 1324px;
    z-index: 2;
  }
  
  .desktop-2 .rectangle-3 {
    align-self: flex-end;
    height: 671px;
    object-fit: cover;
    width: 703px;
  }
  
  .desktop-2 .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 578px;
    width: 568px;
  }
  
  .desktop-2 .dakar-capital-du-sngal {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    min-height: 47px;
    min-width: 491px;
  }
  
  .desktop-2 .la-capitale-sngala {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxs);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 49px;
    min-height: 356px;
    text-align: justify;
    width: 568px;
  }
  
  .desktop-2 .overlap-group2 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/645382f0244cad3e193f154d/releases/6453a52dfada15d20d3979da/img/rectangle-12.svg);
    background-size: 100% 100%;
    display: flex;
    height: 76px;
    margin-left: 1.0px;
    margin-top: 50px;
    min-width: 295px;
    padding: 12px 32px;
  }
  
  .desktop-2 .hbergement {
    color: var(--black);
    cursor: pointer;
    font-family: var(--font-family-poppins);
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    min-height: 50px;
  }
  
  .desktop-2 .flex-row-1 {
    align-items: flex-start;
    display: flex;
    gap: 3167px;
    height: 2922px;
    margin-left: -6033px;
    margin-top: 200px;
    min-width: 7473px;
    z-index: 1;
  }
  
  .desktop-2 .surface-laptop-studio {
    align-self: flex-end;
    height: 2055px;
    object-fit: cover;
    width: 2866px;
  }
  
  .desktop-2 .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 2823px;
    width: 1440px;
  }
  
  .desktop-2 .overlap-group1 {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/645382f0244cad3e193f154d/releases/6453a52dfada15d20d3979da/img/rectangle-5.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 676px;
    justify-content: flex-end;
    margin-left: 47.0px;
    min-width: 943px;
    padding: 246.9px 356.4px;
  }
  
  .desktop-2 .icon-play {
    height: 182px;
    width: 186px;
  }
  
  .desktop-2 .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 53px;
    margin-right: 8.0px;
    margin-top: 121px;
    min-width: 1270px;
  }
  
  .desktop-2 .sites-incontournables {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    min-height: 47px;
    min-width: 419px;
  }
  
  .desktop-2 .icon-chevron-left {
    margin-left: 772px;
  }
  
  .desktop-2 .icon-chevron-right {
    margin-left: 29px;
  }
  
  .desktop-2 .frame-2 {
    align-items: flex-start;
    display: flex;
    gap: 66px;
    margin-right: 28.0px;
    margin-top: 54px;
    position: relative;
    width: fit-content;
  }
  
  .desktop-2 .rectangle {
    height: 307px;
    min-width: 273px;
    object-fit: cover;
    position: relative;
  }
  
  .desktop-2 .flex-row-3 {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    gap: 222px;
    height: 62px;
    margin-right: 20px;
    margin-top: 66px;
    min-width: 1339px;
  }
  
  .desktop-2 .gore {
    letter-spacing: 0;
    line-height: normal;
    min-height: 38px;
    min-width: 77px;
  }
  
  .desktop-2 .lac-rose {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 4px;
    min-height: 38px;
    min-width: 111px;
  }
  
  .desktop-2 .toubab-dialaw {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 6.0px;
    min-height: 38px;
    min-width: 191px;
  }
  
  .desktop-2 .phare-des-mamelles {
    align-self: flex-start;
    letter-spacing: 0;
    line-height: normal;
    min-height: 38px;
    width: 294px;
  }
  
  .desktop-2 .flex-row-4 {
    align-items: flex-end;
    display: flex;
    height: 48px;
    margin-left: 19.0px;
    margin-top: 140px;
    min-width: 1297px;
  }
  
  .desktop-2 .activits {
    align-self: flex-start;
    letter-spacing: 0;
    line-height: normal;
    min-height: 47px;
    min-width: 171px;
  }
  
  .desktop-2 .icon-chevron-left-1 {
    height: 45px;
    margin-left: 1027px;
    width: 25px;
  }
  
  .desktop-2 .icon-chevron-right-1 {
    height: 45px;
    margin-left: 49px;
    width: 25px;
  }
  
  .desktop-2 .overlap-group {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/645382f0244cad3e193f154d/releases/6453a52dfada15d20d3979da/img/rectangle-19.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 771px;
    margin-top: 50px;
    position: relative;
    width: 1440px;
  }
  
  .desktop-2 .rectangle-20 {
    background-color: #d9d9d961;
    height: 412px;
    left: 158px;
    position: absolute;
    top: 138px;
    width: 1261px;
  }
  
  .desktop-2 .promenade-les-iles-d {
    color: transparent;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 600;
    left: 199px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 155px;
    width: 1179px;
  }
  
  .desktop-2 .span0 {
    color: #1cffd6;
  }
  
  .desktop-2 .span1 {
    color: var(--black);
    font-size: var(--font-size-xs);
  }
  
  .desktop-2 .component-2 {
    align-items: flex-start;
    background-color: var(--science-blue);
    height: 109px;
    margin-top: 366px;
    padding: 35px 414px;
  }
  
  .desktop-2 .copyright-2023-a {
    letter-spacing: 2.02px;
    line-height: 26.8px;
    min-height: 27px;
    white-space: nowrap;
  }
  
  .desktop-2 .component {
    display: flex;
    justify-content: flex-end;
    min-width: 1440px;
  }
  
  .desktop-2 .icon-chevron {
    height: 45px;
    width: 25px;
  }
  