:root { 
    --black: #000000;
    --black-2: #00000069;
    --science-blue: #006dc6;
    --white: #ffffff;
   
    --font-size-l: 33px;
    --font-size-m: 20px;
    --font-size-s: 15px;
   
    --font-family-poppins: "Poppins", Helvetica;
  }
  .poppins-bold-science-blue-20px {
    color: var(--science-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .poppins-medium-black-20px {
    color: var(--black-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  .poppins-medium-black-15px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs2);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-medium-black-13px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-medium-black-10px {
    color: var(--black-32);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxxs);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-medium-white-15px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs2);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-medium-black-15px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs2);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-medium-white-12px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-medium-science-blue-10px {
    color: var(--science-blue);
    font-family: var(--font-family-poppins);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-semi-bold-white-9px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
  }
  
  .poppins-medium-black-12px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs2);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 600;
  }
  
  .poppins-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  
  .poppins-medium-black-14px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs4);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-semi-bold-white-9px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
  }
  