/* screen - desktop-6 */

.desktop-6 {
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1466px;
    width: 1440px;
  }
  
  .desktop-6 .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 153px;
    min-height: 269px;
    width: 1440px;
  }
  
  .desktop-6 .component-2 {
    align-items: center;
    background-color: var(--white);
    height: 66px;
    padding: 0 41px;
  }
  
  .desktop-6 .rectangle-58 {
    align-self: flex-end;
    cursor: pointer;
    height: 64px;
    object-fit: cover;
    width: 89px;
  }
  
  .desktop-6 .acceuil {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 7.62px;
    margin-left: 650px;
    min-height: 21px;
    white-space: nowrap;
    width: 77px;
  }
  
  .desktop-6 .destinations {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9.02px;
    margin-left: 35px;
    min-height: 21px;
    white-space: nowrap;
    width: 131px;
  }
  
  .desktop-6 .place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9.02px;
    margin-left: 31px;
    min-height: 21px;
    white-space: nowrap;
    width: 45px;
  }
  
  .desktop-6 .icon-user-circle {
    cursor: pointer;
    height: 28px;
    margin-left: 48px;
    width: 38px;
  }
  
  .desktop-6 .fr {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9.02px;
    margin-left: 89px;
    min-height: 21px;
    white-space: nowrap;
    width: 24px;
  }
  
  .desktop-6 .icon-search {
    cursor: pointer;
    height: 28px;
    margin-left: 27px;
    width: 40px;
  }
  
  .desktop-6 .rservez-votre-voyage-en-un-clic {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 344.0px;
    min-height: 50px;
    min-width: 558px;
  }
  
  .desktop-6 .flex-row {
    align-items: flex-end;
    display: flex;
    height: 30px;
    margin-right: 344.0px;
    margin-top: 95px;
    min-width: 558px;
  }
  
  .desktop-6 .aller-simple {
    min-width: 118px;
  }
  
  .desktop-6 .ellipse-1 {
    background-color: var(--science-blue);
    margin-left: 23px;
  }
  
  .desktop-6 .aller-retour {
    margin-left: 213px;
    min-width: 123px;
  }
  
  .desktop-6 .ellipse-2 {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--science-blue);
    margin-left: 31px;
  }
  
  .desktop-6 .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 83px;
    min-height: 989px;
    width: 1440px;
  }
  
  .desktop-6 .overlap-group-container {
    align-items: flex-start;
    display: flex;
    gap: 163px;
    margin-right: 31.0px;
    min-width: 823px;
  }
  
  .desktop-6 .overlap-group4 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 25px;
    display: flex;
    height: 52px;
    min-width: 330px;
    padding: 9px 20px;
  }
  
  .desktop-6 .ville-de-depart {
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
  }
  
  .desktop-6 .overlap-group3 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 25px;
    display: flex;
    height: 52px;
    min-width: 330px;
    padding: 9px 40px;
  }
  
  .desktop-6 .date-de-dpart {
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
  }
  
  .desktop-6 .overlap-group-container-1 {
    align-items: flex-start;
    display: flex;
    gap: 162px;
    height: 62px;
    margin-right: 32.0px;
    margin-top: 74px;
    min-width: 822px;
  }
  
  .desktop-6 .overlap-group1 {
    align-items: flex-start;
    align-self: flex-end;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 25px;
    display: flex;
    height: 52px;
    min-width: 330px;
    padding: 10px 21px;
  }
  
  .desktop-6 .ville-darriv {
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
  }
  
  .desktop-6 .overlap-group {
    align-items: flex-end;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 25px;
    display: flex;
    height: 52px;
    min-width: 330px;
    padding: 10px 51px;
  }
  
  .desktop-6 .date-darrive {
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
    min-width: 142px;
  }
  
  .desktop-6 .overlap-group2 {
    align-items: flex-start;
    background-color: var(--science-blue);
    border-radius: 30px;
    display: flex;
    height: 58px;
    justify-content: flex-end;
    margin-left: 548.0px;
    margin-top: 48px;
    min-width: 208px;
    padding: 13px 44px;
  }
  
  .desktop-6 .rechercher {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
  }
  
  .desktop-6 .component-1 {
    align-items: flex-start;
    background-color: var(--science-blue);
    height: 109px;
    margin-top: 586px;
    padding: 35px 414px;
  }
  
  .desktop-6 .copyright-2023-a {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight: 600;
    letter-spacing: 2.02px;
    line-height: 26.8px;
    min-height: 27px;
    white-space: nowrap;
  }
  
  .desktop-6 .aller {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
  }
  
  .desktop-6 .component {
    display: flex;
    justify-content: flex-end;
    min-width: 1440px;
  }
  
  .desktop-6 .ellipse {
    border-radius: 12.5px;
    height: 25px;
    margin-bottom: 1px;
    width: 25px;
  }
  
  